@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --primary-rgb: 64, 207, 143;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.primary {
  color: rgb(var(--primary-rgb));
}

.primary-bg {
  background-color: rgb(var(--primary-rgb));
}